frontend/node_modules
frontend/.next
frontend/package-lock.json
backend/ms-name-resolver/__pycache__
backend/ms-name-resolver/.venv
backend/ms-maple-drop-repo/__pycache__
backend/ms-maple-drop-repo/.venv
.env