stages:
  - test
  - build
  - release

.default-python-test: &default-python-test
  image: ghcr.io/astral-sh/uv:python3.11-bookworm-slim
  tags:
    - docker
  before_script:
    - cd $PROJECT_PATH
    - uv sync --extra test
  script:
    - uv run pytest -v --tb=short

test-ms-maple-drop-repo:
  <<: *default-python-test
  stage: test
  variables:
    PROJECT_PATH: ./backend/ms-maple-drop-repo
  rules:
    - if: '$CI_COMMIT_BRANCH == "dev"'
      changes:
        - backend/ms-maple-drop-repo/**/*

test-ms-aggregator-cache:
  <<: *default-python-test
  stage: test
  variables:
    PROJECT_PATH: ./backend/ms-aggregator-cache
  rules:
    - if: '$CI_COMMIT_BRANCH == "dev"'
      changes:
        - backend/ms-aggregator-cache/**/*

test-ms-image-cache:
  <<: *default-python-test
  stage: test
  variables:
    PROJECT_PATH: ./backend/ms-image-cache
  rules:
    - if: '$CI_COMMIT_BRANCH == "dev"'
      changes:
        - backend/ms-image-cache/**/*

test-ms-image-retriever:
  <<: *default-python-test
  stage: test
  variables:
    PROJECT_PATH: ./backend/ms-image-retriever
  rules:
    - if: '$CI_COMMIT_BRANCH == "dev"'
      changes:
        - backend/ms-image-retriever/**/*

test-ms-name-resolver:
  <<: *default-python-test
  stage: test
  variables:
    PROJECT_PATH: ./backend/ms-name-resolver
  rules:
    - if: '$CI_COMMIT_BRANCH == "dev"'
      changes:
        - backend/ms-name-resolver/**/*

test-ms-search-aggregator:
  <<: *default-python-test
  stage: test
  variables:
    PROJECT_PATH: ./backend/ms-search-aggregator
  rules:
    - if: '$CI_COMMIT_BRANCH == "dev"'
      changes:
        - backend/ms-search-aggregator/**/*

test-ms-llm-orchestrator:
  <<: *default-python-test
  stage: test
  variables:
    PROJECT_PATH: ./backend/ms-llm-orchestrator
  rules:
    - if: '$CI_COMMIT_BRANCH == "dev"'
      changes:
        - backend/ms-llm-orchestrator/**/*

.default-build-image: &default-build-image
  image: docker:29.0.4
  retry:
    max: 2
    when:
      - always
  tags:
    - docker
  services:
    - name: docker:dind
  before_script:
    - docker info
  script:
    - echo "Build $IMAGE_NAME Docker image with root context"
    - docker build -t $DOCKERHUB_USERNAME/$IMAGE_NAME:$IMAGE_TAG -f $DOCKERFILE_PATH/Dockerfile .
    - echo "Login to Docker Hub"
    - echo "$DOCKERHUB_TOKEN" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
    - echo "Push to Docker Hub"
    - docker push $DOCKERHUB_USERNAME/$IMAGE_NAME:$IMAGE_TAG

build-nextjs-service:
  <<: *default-build-image
  stage: build
  variables:
    IMAGE_NAME: ms-nextjs-service
    IMAGE_TAG: $CI_COMMIT_SHORT_SHA
    DOCKERFILE_PATH: ./frontend
    DOCKER_TLS_CERTDIR: ""
    DOCKER_HOST: tcp://docker:2375
    DOCKER_DRIVER: overlay2
  rules:
    - if: '$CI_COMMIT_BRANCH == "dev"'

build-ms-maple-drop-repo-service:
  <<: *default-build-image
  stage: build
  needs:
    - job: test-ms-maple-drop-repo
      optional: true
  variables:
    IMAGE_NAME: ms-maple-drop-repo
    IMAGE_TAG: $CI_COMMIT_SHORT_SHA
    DOCKERFILE_PATH: ./backend/ms-maple-drop-repo
    DOCKER_TLS_CERTDIR: ""
    DOCKER_HOST: tcp://docker:2375
    DOCKER_DRIVER: overlay2
  rules:
    - if: '$CI_COMMIT_BRANCH == "dev"'

build-ms-name-resolver-service:
  <<: *default-build-image
  stage: build
  needs:
    - job: test-ms-name-resolver
      optional: true
  variables:
    IMAGE_NAME: ms-name-resolver
    IMAGE_TAG: $CI_COMMIT_SHORT_SHA
    DOCKERFILE_PATH: ./backend/ms-name-resolver
    DOCKER_TLS_CERTDIR: ""
    DOCKER_HOST: tcp://docker:2375
    DOCKER_DRIVER: overlay2
  rules:
    - if: '$CI_COMMIT_BRANCH == "dev"'

build-ms-search-aggregator:
  <<: *default-build-image
  stage: build
  needs:
    - job: test-ms-search-aggregator
      optional: true
  variables:
    IMAGE_NAME: ms-search-aggregator
    IMAGE_TAG: $CI_COMMIT_SHORT_SHA
    DOCKERFILE_PATH: ./backend/ms-search-aggregator
    DOCKER_TLS_CERTDIR: ""
    DOCKER_HOST: tcp://docker:2375
    DOCKER_DRIVER: overlay2
  rules:
    - if: '$CI_COMMIT_BRANCH == "dev"'

build-ms-image-retriever:
  <<: *default-build-image
  stage: build
  needs:
    - job: test-ms-image-retriever
      optional: true
  variables:
    IMAGE_NAME: ms-image-retriever
    IMAGE_TAG: $CI_COMMIT_SHORT_SHA
    DOCKERFILE_PATH: ./backend/ms-image-retriever
    DOCKER_TLS_CERTDIR: ""
    DOCKER_HOST: tcp://docker:2375
    DOCKER_DRIVER: overlay2
  rules:
    - if: '$CI_COMMIT_BRANCH == "dev"'

build-ms-image-cache:
  <<: *default-build-image
  stage: build
  needs:
    - job: test-ms-image-cache
      optional: true
  variables:
    IMAGE_NAME: ms-image-cache
    IMAGE_TAG: $CI_COMMIT_SHORT_SHA
    DOCKERFILE_PATH: ./backend/ms-image-cache
    DOCKER_TLS_CERTDIR: ""
    DOCKER_HOST: tcp://docker:2375
    DOCKER_DRIVER: overlay2
  rules:
    - if: '$CI_COMMIT_BRANCH == "dev"'

build-ms-aggregator-cache:
  <<: *default-build-image
  stage: build
  needs:
    - job: test-ms-aggregator-cache
      optional: true
  variables:
    IMAGE_NAME: ms-aggregator-cache
    IMAGE_TAG: $CI_COMMIT_SHORT_SHA
    DOCKERFILE_PATH: ./backend/ms-aggregator-cache
    DOCKER_TLS_CERTDIR: ""
    DOCKER_HOST: tcp://docker:2375
    DOCKER_DRIVER: overlay2
  rules:
    - if: '$CI_COMMIT_BRANCH == "dev"'

build-ms-llm-orchestrator:
  <<: *default-build-image
  stage: build
  needs:
    - job: test-ms-llm-orchestrator
      optional: true
  variables:
    IMAGE_NAME: ms-llm-orchestrator
    IMAGE_TAG: $CI_COMMIT_SHORT_SHA
    DOCKERFILE_PATH: ./backend/ms-llm-orchestrator
    DOCKER_TLS_CERTDIR: ""
    DOCKER_HOST: tcp://docker:2375
    DOCKER_DRIVER: overlay2
  rules:
    - if: '$CI_COMMIT_BRANCH == "dev"'

create-release-mr:
  stage: release
  image: alpine:latest
  variables:
    IMAGE_TAG: $CI_COMMIT_SHORT_SHA
  script:
    - |
      set -e
      apk update && apk add git curl

      echo "Updating image tag in deployment files to $IMAGE_TAG"
      find ./deployment -type f -name "deployment.yaml" -exec sed -i "s|image: \(.*\):.*|image: \1:$IMAGE_TAG|g" {} +

      echo "Checking for changes..."
      if [ -z "$(git status --porcelain ./deployment)" ]; then
        echo "No changes detected in deployment files. Skipping MR creation."
        exit 0
      fi

      echo "Configuring git..."
      git config --global user.email "${GITLAB_USER_EMAIL:-'gitlab-ci@example.com'}"
      git config --global user.name "${GITLAB_USER_NAME:-'GitLab CI'}"

      BRANCH_NAME="release/update-tags-${IMAGE_TAG}"
      echo "Creating and switching to new branch: ${BRANCH_NAME}"
      git checkout -b "${BRANCH_NAME}"
      git add ./deployment/
      git commit -m "Gitlab CI: Update image tags to $IMAGE_TAG"

      echo "Pushing changes to remote..."
      git push "http://gitlab-ci-token:${GITLAB_API_TOKEN}@${CI_SERVER_HOST}/${CI_PROJECT_PATH}.git" "HEAD:${BRANCH_NAME}"

      echo "Creating Merge Request..."
      curl --request POST \
           --header "PRIVATE-TOKEN: ${GITLAB_API_TOKEN}" \
           --header "Content-Type: application/json" \
           --data '{
             "source_branch": "'"${BRANCH_NAME}"'",
             "target_branch": "main",
             "title": "Gitlab CI: Update image tags for '"$IMAGE_TAG"'",
             "description": "This MR was automatically created by the CI pipeline. It updates deployment image tags to '"${CI_COMMIT_SHA}"'.",
             "remove_source_branch": true
           }' \
           "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/merge_requests"

      echo "Merge Request created successfully."
  rules:
    - if: '$CI_COMMIT_BRANCH == "dev"'
