frontend/node_modules
frontend/.next
frontend/package-lock.json
backend/ms-name-resolver/__pycache__
backend/ms-name-resolver/.venv
backend/ms-maple-drop-repo/__pycache__
backend/ms-maple-drop-repo/.venv
backend/ms-search-aggregator/__pycache__
backend/ms-search-aggregator/.venv
backend/ms-search-aggregator/services/__pycache__
backend/ms-image-retriever/__pycache__
.env