services:
  ms-nextjs-template:
    image: node:20
    container_name: ms-nextjs-template
    hostname: "ms-nextjs-template"
    volumes:
      - E:/project/microservice_template/frontend:/app
    working_dir: /app
    environment:
      - WATCHPACK_POLLING=true
    command: sh -c "npm install && npm run dev"
    ports:
      - "30102:3000"
    networks:
      - network-ms-template

  kong:
    image: kong:3.7
    container_name: kong
    hostname: "kong"
    user: root
    command: sh -c "kong migrations bootstrap && kong start"
    environment:
      KONG_DATABASE: "postgres"
      KONG_PG_HOST: host.docker.internal
      KONG_PG_PORT: 30631
      KONG_PG_USER: postgres
      KONG_PG_PASSWORD: ${POSTGRES_PASSWORD}
      KONG_DECLARATIVE_CONFIG: "/usr/local/kong/kong.yaml"
      KONG_PROXY_ACCESS_LOG: /dev/stdout
      KONG_ADMIN_ACCESS_LOG: /dev/stdout
      KONG_PROXY_ERROR_LOG: /dev/stderr
      KONG_ADMIN_ERROR_LOG: /dev/stderr
      KONG_ADMIN_LISTEN: "0.0.0.0:8001"
    networks:
      - network-ms-template
      
  ms-maple-drop-repo:
    image: ghcr.io/astral-sh/uv:python3.11-bookworm-slim
    container_name: ms-maple-drop-repo
    hostname: "ms-maple-drop-repo"
    volumes:
      - E:\project\microservice_template\backend\ms-maple-drop-repo:/app
    working_dir: /app
    command: sh -c "uv venv && uv sync && .venv/bin/uvicorn main:app --host 0.0.0.0 --port 8000 --reload"
    environment:
      MYSQL_HOST: host.docker.internal:30632
      MYSQL_USER: mariadb
      MYSQL_PASSWORD:  ${ITEM_DATA_DB_PASSWORD}
      MYSQL_DATABASE: TsmcMapleStoryV113
    networks:
      - network-ms-template

  ms-name-resolver:
    image: ghcr.io/astral-sh/uv:python3.11-bookworm-slim
    container_name: ms-name-resolver
    hostname: "ms-name-resolver"
    volumes:
      - E:\project\microservice_template\backend\ms-name-resolver:/app
    working_dir: /app
    command: sh -c "uv venv && uv sync && .venv/bin/uvicorn main:app --host 0.0.0.0 --port 8000 --reload"
    environment:
      MONGO_URI: "mongodb://host.docker.internal:30370/?directConnection=true"
    networks:
      - network-ms-template

  ms-search-aggregator:
    image: ghcr.io/astral-sh/uv:python3.11-bookworm-slim
    container_name: ms-search-aggregator
    hostname: "ms-search-aggregator"
    volumes:
      - E:\project\microservice_template\backend\ms-search-aggregator:/app
    working_dir: /app
    command: sh -c "uv venv && uv sync && .venv/bin/uvicorn main:app --host 0.0.0.0 --port 8000 --reload"
    networks:
      - network-ms-template

  ms-image-retriever:
    image: ghcr.io/astral-sh/uv:python3.11-bookworm-slim
    container_name: ms-image-retriever
    hostname: "ms-image-retriever"
    volumes:
      - E:\project\microservice_template\backend\ms-image-retriever:/app
    working_dir: /app
    command: sh -c "uv venv && uv sync && .venv/bin/uvicorn main:app --host 0.0.0.0 --port 8000 --reload"
    environment:
      MINIO_ENDPOINT: host.docker.internal:30831
      MINIO_BUCKET: maplestory
      MINIO_ROOT_USER: minio
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
    networks:
      - network-ms-template

  ms-image-cache:
    image: ghcr.io/astral-sh/uv:python3.11-bookworm-slim
    container_name: ms-image-cache
    hostname: "ms-image-cache"
    volumes:
      - E:\project\microservice_template\backend\ms-image-cache:/app
    working_dir: /app
    command: sh -c "uv venv && uv sync && .venv/bin/uvicorn main:app --host 0.0.0.0 --port 8000 --reload"
    environment:
      REDIS_HOST: host.docker.internal
      REDIS_PORT: 30930
      REDIS_PASSWORD: ${REDIS_PASSWORD}
      REDIS_CACHE_EXPIRATION_SECONDS: 3600
    networks:
      - network-ms-template

  ms-aggregator-cache:
    image: ghcr.io/astral-sh/uv:python3.11-bookworm-slim
    container_name: ms-aggregator-cache
    hostname: "ms-aggregator-cache"
    volumes:
      - E:\project\microservice_template\backend\ms-aggregator-cache:/app
      - E:\project\microservice_template\backend\utils:/app/utils
    working_dir: /app
    command: sh -c "uv venv && uv sync && .venv/bin/uvicorn main:app --host 0.0.0.0 --port 8000 --reload"
    environment:
      REDIS_HOST: host.docker.internal
      REDIS_PORT: 30930
      REDIS_PASSWORD: ${REDIS_PASSWORD}
      REDIS_CACHE_EXPIRATION_SECONDS: 3600
    networks:
      - network-ms-template

  ms-llm-orchestrator:
    image: ghcr.io/astral-sh/uv:python3.11-bookworm-slim
    container_name: ms-llm-orchestrator
    hostname: "ms-llm-orchestrator"
    volumes:
      - E:\project\microservice_template\backend\ms-llm-orchestrator:/app
      - E:\project\microservice_template\backend\utils:/app/utils
    working_dir: /app
    command: sh -c "uv venv && uv sync && .venv/bin/uvicorn main:app --host 0.0.0.0 --port 8000 --reload"
    environment:
      LITELLM_HOST: https://litellm.mydormroom.dpdns.org
      MCP_HOST: https://mcp-context-forge.mydormroom.dpdns.org/servers/1a6556c61e9a400ea537e7e73c05a2db/mcp
      OPENAI_API_KEY: ${LITELLM_API_KEY}
      LANGFUSE_PUBLIC_KEY: ${LANGFUSE_PUBLIC_KEY}
      LANGFUSE_SECRET_KEY: ${LANGFUSE_SECRET_KEY}
      LANGFUSE_BASE_URL: ${LANGFUSE_BASE_URL}
      MCP_TOKEN: ${MCP_TOKEN}
    ports:
      - "30105:8000"
    networks:
      - network-ms-template

networks:
  network-ms-template:
